extends components/_layout_m

block content

  body

    h2 Git repository here! : 
      br
      a(href="https://github.com/NULL62d3/py-node-socket-test") py-node-socket-test 

    hr

    h2 Click button!
    h3 num = #{num}

    form(action="/" method="post")

      input(type="submit" id="id1" name = "countup" value="countup" class="button")
      input(type="submit" id="id2" name = "countdown" value="countdown" class="button")
      br
      br
      a dict : {
      input(type="string" name="key" placeholder="key" class="input" value=key)
      a  : 
      input(type="string" name="val" placeholder="val" class="input" value=val)
      a }
      input(type="submit" id="id3" name = "senddict" value="senddict" class="button")
    br
    a Received message ........... #{received_msg}
    br
    a Received message type ... #{msg_type}

    hr